<h2>My Heroes</h2>

<div>
  <label>Emotion name:
    <input #emotionName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(emotionName.value); emotionName.value=''">
    add
  </button>
</div>

<ul class="emotions">
  <li *ngFor="let emotion of emotions">
    <a routerLink="/detail/{{emotion.id}}">
      <span class="badge">{{emotion.id}}</span> {{emotion.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(emotion)">x</button>
  </li>
</ul>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
